@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using CundecinosWeb.Enum;
@model CundecinosWeb.ViewModel.vCalificationPerson


<head>

    <meta charset="utf-8">

    <link href="~/css/Start.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

</head>




<div class="post d-flex flex-column-fluid" id="kt_post">
    <!--begin::Container-->
    <div id="kt_content_container" class="container">
        <!--begin::Row-->
        <div class="row g-5 g-xl-8">
            <!--begin::Col-->
            <div class="col-12">
                <!--begin::Feeds Widget 1-->
                <div class="card mb-5 mb-xl-8">
                    <!--begin::Body-->
                    <div class="card-body pb-0">
                        <!--begin::Header-->
                        <div class="d-flex align-items-center">
                            <!--begin::User-->
                            <div class="d-flex align-items-center flex-grow-1">
                                <!--begin::Avatar-->
                                @{

                                    var url = $"https://cunpublication.blob.core.windows.net/publication/{@Model.Person.UID}.jpg";
                                }

                                <div class="cursor-pointer symbol symbol-30px symbol-md-40px" data-kt-menu-trigger="click" data-kt-menu-attach="parent" data-kt-menu-placement="bottom-end">
                                    <img src="@url" alt="user" />
                                </div>

                                <!--end::Avatar-->
                                <!--begin::Info-->
                                <div class="d-flex flex-column">
                                    <a href="#" class="text-gray-800 text-hover-primary fs-6 fw-bolder"> @Model.Person.FirstName @Model.Person.LastName</a>
                                    <span class="text-gray-400 fw-bold">@Model.Person.Email</span>
                                </div>
                                <!--end::Info-->
                            </div>
                            <!--end::User-->

                        </div>
                        <!--end::Header-->
                        <!--begin::Editor-->


                        <br /><br />

                        @using (Html.BeginForm("Create", "CalificationPerson", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {

                            @using (Html.DevExtreme().ValidationGroup())
                            {
                                <input type="hidden" asp-for="@Model.CalificationPerson.PersonID" />

                                <input type="hidden" asp-for="@Model.CalificationPerson.Calification" id="calificationInput" />

                                <div class="row mb-8">
                                    <!--begin::Col-->
                                  
                                    <div class="overflow-auto pb-5">
                                        <!--begin::Notice-->
                                        <div class="notice d-flex bg-light-primary rounded border-primary border border-dashed min-w-lg-600px flex-shrink-0 p-6">

                                            <!--begin::Wrapper-->
                                            <div class="d-flex flex-stack flex-grow-1 flex-wrap flex-md-nowrap">
                                                <!--begin::Content-->
                                                <div class="mb-3 mb-md-0 fw-bold" id="message">
                                                    <h4 class="text-gray-800 fw-bolder">¡Tus Comentarios son importantes para nosotros!, califica a tu intermediario</h4>

                                                    <br />

                                                </div>

                                                <!--end::Content-->
                                            </div>
                                            <!--end::Wrapper-->
                                        </div>
                                        <!--end::Notice-->
                                    </div>
                                    <!--begin::Col-->
                                    
                                    <div class="containerStart ">
                                        <div class="post">
                                            <div class="text">Thanks for rating us!</div>
                                            <div class="edit">EDIT</div>
                                        </div>
                                        <div class="star-widget">
                                            <input type="radio" name="rate" id="rate-5" onclick="Start5()">

                                            <label for="rate-5" class="fas fa-star"></label>

                                            <input type="radio" name="rate" id="rate-4" onclick="Start4()">
                                            
                                            <label for="rate-4" class="fas fa-star"></label>

                                            <input type="radio" name="rate" id="rate-3" onclick="Start3()">
                                            
                                            <label for="rate-3" class="fas fa-star"></label>

                                            <input type="radio" name="rate" id="rate-2" onclick="Start2()">
                                            
                                            <label for="rate-2" class="fas fa-star"></label>

                                            <input type="radio" name="rate" id="rate-1" onclick="Start1()">
                                            
                                            <label for="rate-1" class="fas fa-star"></label>
                                         
                                        </div>
                                        <div  class="textarea">
                                            <!--begin::Col-->
                                            <div class="col-xl-2 fv-row">
                                                <div class="fs-6 fw-bold mt-2 mb-3">Comentarios</div>
                                            </div>
                                            <!--begin::Col-->
                                            <div class="col-xl-10">
                                                @(Html.DevExtreme().TextBoxFor(x => x.CalificationPerson.Observations))
                                            </div>


                                            <!--end::Col-->
                                        </div>
                                        <div class="btn">
                                            @(Html.DevExtreme().Button()
                                                .ID("Publication")
                                                .Text("Guardar")
                                                .Type(ButtonType.Success)
                                                // Instructs the Button to validate the TextBoxes and submit the form
                                                .UseSubmitBehavior(true)
                                                )

                                        </div>
                                    </div>





                                   @* <div class="col-xl-10">

                                        @(Html.DevExtreme().SelectBoxFor(m => m.CalificationPerson.Calification)
                                            .DataSource(Html.GetEnumSelectList<CundecinosWeb.Enum.Calification>()
                                            .Select(i => new { Value = int.Parse(i.Value), Text = i.Text })
                                            )
                                            .ValueExpr("Value")
                                            .ID("CalificationType")
                                            .DisplayExpr("Text")
                                            .Placeholder("Seleccione...")
                                            )

                                    </div>*@
                                    <!--end::Col-->
                                </div>

                                @*<div class="row mb-8">
                                    <!--begin::Col-->
                                    <div class="col-xl-2 fv-row">
                                        <div class="fs-6 fw-bold mt-2 mb-3">Comentarios</div>
                                    </div>
                                    <!--begin::Col-->
                                    <div class="col-xl-10">
                                        @(Html.DevExtreme().TextBoxFor(x => x.CalificationPerson.Observations))
                                    </div>


                                    <!--end::Col-->
                                </div>*@


                                <!--end::Editor-->

                                <br /> <div class="separator"></div> <br />

                                <!--begin::Timeline details-->
                                
                                <!--end::Timeline details-->
                                
                            }
                        }

                    </div>
                    <!--end::Body-->
                </div>


            </div>
        </div>
    </div>
</div>
<script>
    @*const btn = document.querySelector("button");
    const post = document.querySelector(".post");
    const widget = document.querySelector(".star-widget");
    const editBtn = document.querySelector(".edit");
    btn.onclick = () => {
        widget.style.display = "none";
        post.style.display = "block";
        editBtn.onclick = () => {
            widget.style.display = "block";
            post.style.display = "none";
        }
        return false;
    }*@


    function Start1() {

        var start1 = 1; // Valor que deseas asignar

            document.getElementById("calificationInput").value = start1;


        console.log(document.getElementById("calificationInput").value);
    }
    function Start2() {


        var start2 = 2; // Valor que deseas asignar

        document.getElementById("calificationInput").value = start2;
    }
    
    function Start3() {


        var start3 = 3; // Valor que deseas asignar

        document.getElementById("calificationInput").value = start3;
    }
    function Start4() {

        var start4 = 4; // Valor que deseas asignar

        document.getElementById("calificationInput").value = start4;
    
    }function Start5() {

        var start5 = 5; // Valor que deseas asignar

        document.getElementById("calificationInput").value = start5;
    
    } 
</script>
