@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using CundecinosWeb.Enum;
@model CundecinosWeb.ViewModel.vCalificationPerson


<head>

    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <style>
        :root {
            --color-inactivo: #5f5050!important;
            --color-hover: #ffa400!important;
        }

        .valoracion {
            display: flex;
            flex-direction: row-reverse;
        }

            .valoracion button {
                background-color: initial;
                border: 0;
                color: var(--color-inactivo);
                transition: 1s all;
            }

                .valoracion button:hover {
                    cursor: pointer;
                    color: #ffa400 !important;
                    transform: rotate(360deg);
                }

        button:nth-child(1):hover ~ button {
            color: v#ffa400 !important;
            transform: rotate(360deg);
        }

        button:nth-child(2):hover ~ button {
            color: #ffa400 !important;
            transform: rotate(360deg);
        }

        button:nth-child(3):hover ~ button {
            color: #ffa400 !important;
            transform: rotate(360deg);
        }

        button:nth-child(4):hover ~ button {
            color: #ffa400 !important;
            transform: rotate(360deg);
        }

        button:nth-child(5):hover ~ button {
            color: #ffa400 !important;
            transform: rotate(360deg);
        }
    </style>
</head>
<div class="post d-flex flex-column-fluid" id="kt_post">
    <!--begin::Container-->
    <div id="kt_content_container" class="container">
        <!--begin::Row-->
        <div class="row g-5 g-xl-8">
            <!--begin::Col-->
            <div class="col-12">
                <!--begin::Feeds Widget 1-->
                <div class="card mb-5 mb-xl-8">
                    <!--begin::Body-->
                    <div class="card-body pb-0">
                        <!--begin::Header-->
                        <div class="d-flex align-items-center">
                            <!--begin::User-->
                            <div class="d-flex align-items-center flex-grow-1">
                                <!--begin::Avatar-->
                                @{

                                    var url = $"https://cunpublication.blob.core.windows.net/publication/{@Model.Person.UID}.jpg";
                                }

                                <div class="cursor-pointer symbol symbol-30px symbol-md-40px" data-kt-menu-trigger="click" data-kt-menu-attach="parent" data-kt-menu-placement="bottom-end">
                                    <img src="@url" alt="user" />
                                </div>

                                <!--end::Avatar-->
                                <!--begin::Info-->
                                <div class="d-flex flex-column">
                                    <a href="#" class="text-gray-800 text-hover-primary fs-6 fw-bolder"> @Model.Person.FirstName @Model.Person.LastName</a>
                                    <span class="text-gray-400 fw-bold">@Model.Person.Email</span>
                                </div>
                                <!--end::Info-->
                            </div>
                            <!--end::User-->

                        </div>
                        <!--end::Header-->
                        <!--begin::Editor-->


                        <br /><br />

                        @using (Html.BeginForm("Create", "CalificationPerson", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {

                            @using (Html.DevExtreme().ValidationGroup())
                            {
                                <input type="hidden" asp-for="@Model.CalificationPerson.PersonID" />


                                <div class="row mb-8">
                                    <!--begin::Col-->
                                    <div class="col-xl-2 fv-row">
                                        <div class="fs-6 fw-bold mt-2 mb-3">Califica a tu intermediario</div>
                                    </div>
                                    <!--begin::Col-->

                                    <div class="valoracion">

                                        <!-- Estrella 1 -->
                                        <button>
                                            <i class="fas fa-star"></i>
                                        </button>

                                        <!-- Estrella 2 -->
                                        <button>
                                            <i class="fas fa-star"></i>
                                        </button>

                                        <!-- Estrella 3 -->
                                        <button>
                                            <i class="fas fa-star"></i>
                                        </button>

                                        <!-- Estrella 4 -->
                                        <button>
                                            <i class="fas fa-star"></i>
                                        </button>

                                        <!-- Estrella 5 -->
                                        <button>
                                            <i class="fas fa-star"></i>
                                        </button>

                                    </div>





                                    <div class="col-xl-10">

                                        @(Html.DevExtreme().SelectBoxFor(m => m.CalificationPerson.Calification)
                                            .DataSource(Html.GetEnumSelectList<CundecinosWeb.Enum.Calification>()
                                            .Select(i => new { Value = int.Parse(i.Value), Text = i.Text })
                                            )
                                            .ValueExpr("Value")
                                            .ID("CalificationType")
                                            .DisplayExpr("Text")
                                            .Placeholder("Seleccione...")
                                            )

                                    </div>
                                    <!--end::Col-->
                                </div>

                                <div class="row mb-8">
                                    <!--begin::Col-->
                                    <div class="col-xl-2 fv-row">
                                        <div class="fs-6 fw-bold mt-2 mb-3">Comentarios</div>
                                    </div>
                                    <!--begin::Col-->
                                    <div class="col-xl-10">
                                        @(Html.DevExtreme().TextBoxFor(x => x.CalificationPerson.Observations))
                                    </div>


                                    <!--end::Col-->
                                </div>


                                <!--end::Editor-->

                                <br /> <div class="separator"></div> <br />

                                <!--begin::Timeline details-->
                                <div class="overflow-auto pb-5">
                                    <!--begin::Notice-->
                                    <div class="notice d-flex bg-light-primary rounded border-primary border border-dashed min-w-lg-600px flex-shrink-0 p-6">

                                        <!--begin::Wrapper-->
                                        <div class="d-flex flex-stack flex-grow-1 flex-wrap flex-md-nowrap">
                                            <!--begin::Content-->
                                            <div class="mb-3 mb-md-0 fw-bold" id="message">
                                                <h4 class="text-gray-800 fw-bolder">Tus Comentarios son importantes para nosotros!</h4>

                                                <br />

                                            </div>

                                            <!--end::Content-->
                                        </div>
                                        <!--end::Wrapper-->
                                    </div>
                                    <!--end::Notice-->
                                </div>
                                <!--end::Timeline details-->
                                @(Html.DevExtreme().Button()
                                    .ID("Publication")
                                    .Text("Guardar")
                                    .Type(ButtonType.Success)
                                    // Instructs the Button to validate the TextBoxes and submit the form
                                    .UseSubmitBehavior(true)
                                    )
                            }
                        }

                    </div>
                    <!--end::Body-->
                </div>


            </div>
        </div>
    </div>
</div>