@model CundecinosWeb.Models.Person
@{
    ViewData["Title"] = "User Profile";
}

<style>
    .nueva-seccion {
        margin: 2rem auto;
        align-items: center;
        min-height: 15rem;
    }

    .flex-stack {
        justify-content: center;
    }

    section {
        min-height: 97vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card_nueva {
        position: relative;
        width: 550px;
        height: 250px;
        backdrop-filter: blur(25px);
        background: rgb(20 128 36 / 80%);
        box-shadow: 0 25px 45px rgba(0,0,0,0.25);
        border: 1px solid rgba(255,255,255,0.1);
        border-radius: 30px;
        color: #000;
        transition: all .5s ease-in-out;
    }

        .card_nueva:hover {
            transform: translateY(-2px);
        }

    .top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 12px 15px;
        border-bottom: 1px solid #d5cccc24;
    }

        .top span {
            font-size: 20px;
            margin-left: 20px;
        }

        .top i {
            font-size: 30px;
            padding: 10px;
            border-radius: 30%;
        }

            .top i:hover {
                background: rgba(0,0,0,0.1);
                cursor: pointer;
            }

        .top p {
            position: absolute;
            top: 50px;
            right: 15px;
            background: rgba(0,0,0,0.15);
            padding: 10px 20px;
            border-radius: 10px;
            opacity: 0;
            transition: .5s ease-in-out;
        }

        .top i:hover ~ p {
            opacity: 1;
            transition: .5s ease-in-out;
        }

    .middle {
        display: flex;
        flex-direction: row;
        padding: 1rem;
    }

        .middle img {
            width: 10rem;
            height: 10rem;
            border-radius: 50%;
            border: 5px solid transparent;
            outline: 3px dashed rgba(255,255,255,0.25);
        }

        .middle .right {
            margin: 20px 0px 10px 30px;
        }

    .right .generacion {
        position: absolute;
        content: "";
        bottom: 0;
        right: 2rem;
        font-weight: bold;
    }

    .right .carrera {
        font-weight: bold;
        margin-bottom: 1rem;
    }

    ul li {
        list-style-type: circle;
    }

    .social-icon {
        display: flex;
        flex-direction: row;
    }

        .social-icon span {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #fff;
            border-radius: 50%;
            height: 30px;
            width: 30px;
            margin: 0 5px;
            transition: .4s;
            cursor: pointer;
        }

        .social-icon i {
            font-size: 20px;
        }

        .social-icon span:hover {
            color: #3c79db;
            background: #fff;
            transform: translateY(-4px);
            box-shadow: inset 0 0 0 15px #fff;
        }

    .bottom {
        display: flex;
        flex-direction: row;
        justify-content: right;
        padding: 0 30px;
    }

    .btn {
        background: #3c79db;
        color: #fff;
        padding: 12px 20px;
        border-radius: 20px;
        border: none;
        margin: 0 5px;
        cursor: pointer;
        transition: .3s;
    }

        .btn:hover {
            box-shadow: inset 0 0 0 20px #83ace2;
        }
</style>

<div class="most-asked section" style="padding-top: 0px !important; margin-top: 0px !important;">
    <div class="container">


        <section class="nueva-seccion">
            <div class="card_nueva">
                <div class="top">
                    <span>@Model.FirstName @Model.LastName</span>
                    <i class="bx bx-dots-vertical-rounded"></i>
                    <p>My Portifolio</p>
                </div>
                <div class="middle">
                    <div class="left">
                        <img src="@Model.AvatarUrl" alt="Avatar">
                    </div>
                    <div class="right">
                        <label class="carrera" for="">@Model.CollegeCareer.Name</label>
                        <div>
                            <p class="generacion">Generación Siglo XXI</p>
                        </div>
                        <div>
                            <span>@Model.Email</span>
                        </div>
                    </div>
                </div>

            </div>
        </section>



                        <!--begin::details View-->
                        <div class="card mb-4 mb-xl-10" id="kt_profile_details_view">

                            @(Html.DevExtreme().TextBoxFor(x => x.PersonID).Visible(false))
                            <!--begin::Card body-->
                            @using (Html.BeginForm("PersonalInformation", "User", FormMethod.Post, new { id = "editar" }))
                            {
                                <!--begin::Card header-->
                                <div class="card-header cursor-pointer">
                                    <!--begin::Card title-->
                                    <div class="card-title m-0">
                                        <h3 class="fw-bolder m-0">Detalles del perfil</h3>
                                    </div>
                                    <!--end::Card title-->
                                    <!--begin::Action-->
                                        @(Html.DevExtreme().Button()
                                            .ID("editar_info")
                                            .Text("Editar información")
                                            .Type(ButtonType.Normal)
                                            .UseSubmitBehavior(true)
                                            .ValidationGroup("grupoValidacion")
                                            .ElementAttr("class", "btn btn-primary align-self-center p-1")
                                            )
                                    <!--end::Action-->
                                </div>
                                <!--begin::Card header-->
                                @using (Html.DevExtreme().ValidationGroup("grupoValidacion"))
                                {
                                            <div class="card-body p-9">
                                                <!--begin::Row-->
                                                <div class="row mb-7">
                                                    <!--begin::Label-->
                                                    <label class="col-lg-4 fw-bold text-muted">Nombres</label>
                                                    <!--end::Label-->
                                                    <!--begin::Col-->
                                                    <div class="col-lg-8">
                                                    @(Html.DevExtreme().TextBoxFor(x => x.FirstName))
                                                    </div>
                                                    <!--end::Col-->
                                                </div>
                                                <!--end::Row-->
                                                <!--begin::Input group-->
                                                <div class="row mb-7">
                                                    <!--begin::Label-->
                                                    <label class="col-lg-4 fw-bold text-muted">Apellidos</label>
                                                    <!--end::Label-->
                                                    <!--begin::Col-->
                                                    <div class="col-lg-8 fv-row">
                                                    @(Html.DevExtreme().TextBoxFor(x => x.LastName))
                                                    </div>
                                                    <!--end::Col-->
                                                </div>
                                                <!--end::Input group-->
                                        <!--begin::Input group-->
                                        <div class="row mb-7">
                                            <!--begin::Label-->
                                            <label class="col-lg-4 fw-bold text-muted">Número de identificación</label>
                                            <!--end::Label-->
                                            <!--begin::Col-->
                                            <div class="col-lg-8 fv-row">
                                                @(Html.DevExtreme().TextBoxFor(x => x.IdentificationNumber))
                                            </div>
                                            <!--end::Col-->
                                        </div>
                                        <!--end::Input group-->
                                                <!--begin::Input group-->
                                                <div class="row mb-7">
                                                    <!--begin::Label-->
                                                    <label class="col-lg-4 fw-bold text-muted">
                                                        Número de telefono
                                                    </label>
                                                    <!--end::Label-->
                                                    <!--begin::Col-->
                                                    <div class="col-lg-8 d-flex align-items-center">
                                                @(Html.DevExtreme().TextBoxFor(x => x.CellPhone))
                                                    </div>
                                                    <!--end::Col-->
                                                </div>
                                                <!--end::Input group-->
                                                <!--begin::Input group-->
                                                <div class="row mb-7">
                                                    <!--begin::Label-->
                                                    <label class="col-lg-4 fw-bold text-muted">Correo electrónico</label>
                                                    <!--end::Label-->
                                                    <!--begin::Col-->
                                                    <div class="col-lg-8">
                                                @(Html.DevExtreme().TextBoxFor(x => x.Email))
                                                    </div>
                                                    <!--end::Col-->
                                                </div>
                                                <!--end::Input group-->
                                                <!--begin::Input group-->
                                                <div class="row mb-7">
                                                    <!--begin::Label-->
                                                    <label class="col-lg-4 fw-bold text-muted">
                                                        Año de nacimiento
                                                    </label>
                                                    <!--end::Label-->
                                                    <!--begin::Col-->
                                                    <div class="col-lg-8">
                                                @(Html.DevExtreme().TextBoxFor(x => x.BirthYear))
                                                    </div>
                                                    <!--end::Col-->
                                                </div>
                                                <!--end::Input group-->
                                                <!--begin::Input group-->
                                                <div class="row mb-7">
                                                    <!--begin::Label-->
                                                    <label class="col-lg-4 fw-bold text-muted">Carrera</label>
                                                    <!--end::Label-->
                                                    <!--begin::Col-->
                                                    <div class="col-lg-8">
                                                @(Html.DevExtreme().SelectBoxFor(m => m.CollegeCareerId)
                                                    .DataSource(ds => ds.Mvc().Controller("APIPeople").LoadAction("CollegeCareerLookup").Key("Value"))
                                                    .ValueExpr("Value")
                                                    .ID("test")
                                                    .DisplayExpr("Text")
                                                    .Placeholder("Seleccione...")
                                                    )
                                                    </div>
                                                    <!--end::Col-->
                                                </div>
                                                <!--end::Input group-->
                                                <!--begin::Input group-->
                                                <div class="row mb-10">
                                                    <!--begin::Label-->
                                                    <label class="col-lg-4 fw-bold text-muted">Extensión</label>
                                                    <!--begin::Label-->
                                                    <!--begin::Label-->
                                                    <div class="col-lg-8">
                                                @(Html.DevExtreme().SelectBoxFor(m => m.ExtensionId)
                                                    .DataSource(ds => ds.Mvc().Controller("APIPeople").LoadAction("ExtensionsLookup").Key("Value"))
                                                    .ValueExpr("Value")
                                                    .ID("test_2")
                                                    .DisplayExpr("Text")
                                                    .Placeholder("Seleccione...")
                                                    )
                                            </div>
                                                    <!--begin::Label-->
                                                </div>
                                                <!--end::Input group-->
                                        <!--begin::Input group-->
                                        <div class="row mb-10">
                                            <!--begin::Label-->
                                            <label class="col-lg-4 fw-bold text-muted">Registro vigente</label>
                                            <!--begin::Label-->
                                            <!--begin::Label-->
                                            <div class="col-lg-8">
                                                @(Html.DevExtreme().CheckBoxFor(x => x.IsActive))
                                            </div>
                                            <!--begin::Label-->
                                        </div>
                                        <!--end::Input group-->

                                            </div>
                                }
                            }
                        </div>

            </div>   
</div>