@model CundecinosWeb.Models.Person

<!--begin::Modal content-->
<div class="modal-content">
	<!--begin::Modal header-->
	<div class="modal-header">
		<!--begin::Modal title-->
		<h2>Registro de Usuario</h2>
		<!--end::Modal title-->
	</div>
	<!--end::Modal header-->
	<!--begin::Modal body-->
	<div class="modal-body py-lg-10 px-lg-10">
		<!--begin::Stepper-->
		<div class="stepper stepper-pills stepper-column d-flex flex-column flex-xl-row flex-row-fluid" id="kt_modal_create_app_stepper">
			<!--begin::Aside-->
			<div class="d-flex justify-content-center justify-content-xl-start flex-row-auto w-100 w-xl-300px">
				<!--begin::Nav-->
				<div class="stepper-nav ps-lg-10">
					<!--begin::Step 1-->
					<div class="stepper-item current" data-kt-stepper-element="nav">
						<!--begin::Line-->
						<div class="stepper-line w-40px"></div>
						<!--end::Line-->
						<!--begin::Icon-->
						<div class="stepper-icon w-40px h-40px">
							<i class="stepper-check fas fa-check"></i>
							<span class="stepper-number">1</span>
						</div>
						<!--end::Icon-->
						<!--begin::Label-->
						<div class="stepper-label">
							<h3 class="stepper-title">Detalles</h3>
							<div class="stepper-desc">De tu Perfil</div>
						</div>
						<!--end::Label-->
					</div>
					<!--end::Step 1-->
					<!--begin::Step 2-->
					<div class="stepper-item" data-kt-stepper-element="nav">
						<!--begin::Line-->
						<div class="stepper-line w-40px"></div>
						<!--end::Line-->
						<!--begin::Icon-->
						<div class="stepper-icon w-40px h-40px">
							<i class="stepper-check fas fa-check"></i>
							<span class="stepper-number">2</span>
						</div>
						<!--begin::Icon-->
						<!--begin::Label-->
						<div class="stepper-label">
							<h3 class="stepper-title">Creación de Usuario</h3>
							<div class="stepper-desc">Datos Personales</div>
						</div>
						<!--begin::Label-->
					</div>
					<!--end::Step 2-->
					<!--begin::Step 3-->
					<div class="stepper-item" data-kt-stepper-element="nav">
						<!--begin::Line-->
						<div class="stepper-line w-40px"></div>
						<!--end::Line-->
						<!--begin::Icon-->
						<div class="stepper-icon w-40px h-40px">
							<i class="stepper-check fas fa-check"></i>
							<span class="stepper-number">3</span>
						</div>
						<!--end::Icon-->
						<!--begin::Label-->
						<div class="stepper-label">
							<h3 class="stepper-title">Database</h3>
							<div class="stepper-desc">Select the app database type</div>
						</div>
						<!--end::Label-->
					</div>
					<!--end::Step 3-->
					<!--begin::Step 4-->
					<div class="stepper-item" data-kt-stepper-element="nav">
						<!--begin::Line-->
						<div class="stepper-line w-40px"></div>
						<!--end::Line-->
						<!--begin::Icon-->
						<div class="stepper-icon w-40px h-40px">
							<i class="stepper-check fas fa-check"></i>
							<span class="stepper-number">4</span>
						</div>
						<!--end::Icon-->
						<!--begin::Label-->
						<div class="stepper-label">
							<h3 class="stepper-title">Billing</h3>
							<div class="stepper-desc">Provide payment details</div>
						</div>
						<!--end::Label-->
					</div>
					<!--end::Step 4-->
					<!--begin::Step 5-->
					<div class="stepper-item" data-kt-stepper-element="nav">
						<!--begin::Line-->
						<div class="stepper-line w-40px"></div>
						<!--end::Line-->
						<!--begin::Icon-->
						<div class="stepper-icon w-40px h-40px">
							<i class="stepper-check fas fa-check"></i>
							<span class="stepper-number">5</span>
						</div>
						<!--end::Icon-->
						<!--begin::Label-->
						<div class="stepper-label">
							<h3 class="stepper-title">Release</h3>
							<div class="stepper-desc">Review and Submit</div>
						</div>
						<!--end::Label-->
					</div>
					<!--end::Step 5-->
				</div>
				<!--end::Nav-->
			</div>
			<!--begin::Aside-->
			<!--begin::Content-->
			<div class="flex-row-fluid py-lg-5 px-lg-15">
				<!--begin::Form-->
				<form class="form" novalidate="novalidate" id="kt_modal_create_app_form" method="post">
					<!--begin::Step 1-->
					<div class="current" data-kt-stepper-element="content">
						<div class="w-100">
							<!--begin::Input group-->
							<div class="fv-row mb-10">
								<label class="d-flex align-items-center fs-5 fw-bold mb-2">
									<span class="required">@Html.LabelFor(x => x.FirstName)</span>
									<i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" title=""></i>
								</label>
								
								@(Html.DevExtreme().TextBoxFor(x => x.FirstName).ID("FirstName"))
								
							</div>
							<div class="fv-row mb-10">
								<label class="d-flex align-items-center fs-5 fw-bold mb-2">
									<span class="required">@Html.LabelFor(x => x.LastName)</span>
									<i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" title=""></i>
								</label>
								
								@(Html.DevExtreme().TextBoxFor(x => x.LastName).ID("LastName"))
								
							</div>
							<div class="fv-row">
								<!--begin::Label-->
								<label class="d-flex align-items-center fs-5 fw-bold mb-4">
									<span class="required">@Html.LabelFor(x => x.CollegeCareerId)</span>
									<i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" title="Select your app category"></i>
								</label>

								@(Html.DevExtreme().SelectBoxFor(x => x.CollegeCareerId).DataSource(ds => ds.WebApi().Controller("APICollegeCareers").LoadAction("GetActive").Key("Value"))
                            .ID("CollegeCareerId")
									.ValueExpr("CollegeCareerId")
									.DisplayExpr("Name")
									)
								<!--end:Options-->
							</div>
							<!--end::Input group-->
						</div>
					</div>
					<!--end::Step 1-->
					<!--begin::Step 2-->
					<div data-kt-stepper-element="content">
						<div class="w-100">
							<div class="fv-row">
								<div class="fv-row mb-10">
								<label class="d-flex align-items-center fs-5 fw-bold mb-2">
									<span class="required">@Html.LabelFor(x => x.IdentificationNumber)</span>
									<i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" title=""></i>
								</label>
								
								
								@(Html.DevExtreme().TextBoxFor(x => x.IdentificationNumber).ID("IdentificationNumber"))
								
								</div>

								<div class="fv-row mb-10">
								<label class="d-flex align-items-center fs-5 fw-bold mb-2">
									<span class="required">@Html.LabelFor(x => x.CellPhone)</span>
									<i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" title=""></i>
								</label>
								
								@(Html.DevExtreme().TextBoxFor(x => x.CellPhone).ID("CellPhone"))
								
								</div>

								<div class="fv-row mb-10">
								<label class="d-flex align-items-center fs-5 fw-bold mb-2">
									<span class="required">@Html.LabelFor(x => x.Email)</span>
									<i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" title=""></i>
								</label>
								
								@(Html.DevExtreme().TextBoxFor(x => x.Email).ID("Email"))
								
								</div>

								<div class="fv-row mb-10">
								<label class="d-flex align-items-center fs-5 fw-bold mb-2">
									<span class="required">@Html.LabelFor(x => x.BirthYear)</span>
									<i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" title=""></i>
								</label>
								
								@(Html.DevExtreme().TextBoxFor(x => x.BirthYear).ID("BirthYear"))
								
								</div>

								
							</div>

						</div>	
					</div>
					<!--end::Step 2-->
					<!--begin::Step 3-->
					<div data-kt-stepper-element="content">
						<div class="w-100">
							<!--begin::Input group-->
							<div class="fv-row mb-10">
								<!--begin::Label-->
								<label class="required fs-5 fw-bold mb-2">Database Name</label>
								<!--end::Label-->
								<!--begin::Input-->
								<input type="text" class="form-control form-control-lg form-control-solid" name="dbname" placeholder="" value="master_db" />
								<!--end::Input-->
							</div>
							<!--end::Input group-->
							<!--begin::Input group-->
							<div class="fv-row">
								<!--begin::Label-->
								<label class="d-flex align-items-center fs-5 fw-bold mb-4">
									<span class="required">Select Database Engine</span>
									<i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" title="Select your app database engine"></i>
								</label>
								<!--end::Label-->
								<!--begin:Option-->
								<label class="d-flex flex-stack cursor-pointer mb-5">
									<!--begin::Label-->
									<span class="d-flex align-items-center me-2">
										<!--begin::Icon-->
										<span class="symbol symbol-50px me-6">
											<span class="symbol-label bg-light-success">
												<i class="fas fa-database text-success fs-2x"></i>
											</span>
										</span>
										<!--end::Icon-->
										<!--begin::Info-->
										<span class="d-flex flex-column">
											<span class="fw-bolder fs-6">MySQL</span>
											<span class="fs-7 text-muted">Basic MySQL database</span>
										</span>
										<!--end::Info-->
									</span>
									<!--end::Label-->
									<!--begin::Input-->
									<span class="form-check form-check-custom form-check-solid">
										<input class="form-check-input" type="radio" name="dbengine" checked="checked" value="1" />
									</span>
									<!--end::Input-->
								</label>
								<!--end::Option-->
								<!--begin:Option-->
								<label class="d-flex flex-stack cursor-pointer mb-5">
									<!--begin::Label-->
									<span class="d-flex align-items-center me-2">
										<!--begin::Icon-->
										<span class="symbol symbol-50px me-6">
											<span class="symbol-label bg-light-danger">
												<i class="fab fa-google text-danger fs-2x"></i>
											</span>
										</span>
										<!--end::Icon-->
										<!--begin::Info-->
										<span class="d-flex flex-column">
											<span class="fw-bolder fs-6">Firebase</span>
											<span class="fs-7 text-muted">Google based app data management</span>
										</span>
										<!--end::Info-->
									</span>
									<!--end::Label-->
									<!--begin::Input-->
									<span class="form-check form-check-custom form-check-solid">
										<input class="form-check-input" type="radio" name="dbengine" value="2" />
									</span>
									<!--end::Input-->
								</label>
								<!--end::Option-->
								<!--begin:Option-->
								<label class="d-flex flex-stack cursor-pointer">
									<!--begin::Label-->
									<span class="d-flex align-items-center me-2">
										<!--begin::Icon-->
										<span class="symbol symbol-50px me-6">
											<span class="symbol-label bg-light-warning">
												<i class="fab fa-amazon text-warning fs-2x"></i>
											</span>
										</span>
										<!--end::Icon-->
										<!--begin::Info-->
										<span class="d-flex flex-column">
											<span class="fw-bolder fs-6">DynamoDB</span>
											<span class="fs-7 text-muted">Amazon Fast NoSQL Database</span>
										</span>
										<!--end::Info-->
									</span>
									<!--end::Label-->
									<!--begin::Input-->
									<span class="form-check form-check-custom form-check-solid">
										<input class="form-check-input" type="radio" name="dbengine" value="3" />
									</span>
									<!--end::Input-->
								</label>
								<!--end::Option-->
							</div>
							<!--end::Input group-->
						</div>
					</div>
					<!--end::Step 3-->
					<!--begin::Step 4-->
					<div data-kt-stepper-element="content">
						<div class="w-100">
							<!--begin::Input group-->
							<div class="d-flex flex-column mb-7 fv-row">
								<!--begin::Label-->
								<label class="d-flex align-items-center fs-6 fw-bold form-label mb-2">
									<span class="required">Name On Card</span>
									<i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" title="Specify a card holder's name"></i>
								</label>
								<!--end::Label-->
								<input type="text" class="form-control form-control-solid" placeholder="" name="card_name" value="Max Doe" />
							</div>
							<!--end::Input group-->
							<!--begin::Input group-->
							<div class="d-flex flex-column mb-7 fv-row">
								<!--begin::Label-->
								<label class="required fs-6 fw-bold form-label mb-2">Card Number</label>
								<!--end::Label-->
								<!--begin::Input wrapper-->
								<div class="position-relative">
									<!--begin::Input-->
									<input type="text" class="form-control form-control-solid" placeholder="Enter card number" name="card_number" value="4111 1111 1111 1111" />
									<!--end::Input-->
									<!--begin::Card logos-->
									<div class="position-absolute translate-middle-y top-50 end-0 me-5">
										<img src="assets/media/svg/card-logos/visa.svg" alt="" class="h-25px" />
										<img src="assets/media/svg/card-logos/mastercard.svg" alt="" class="h-25px" />
										<img src="assets/media/svg/card-logos/american-express.svg" alt="" class="h-25px" />
									</div>
									<!--end::Card logos-->
								</div>
								<!--end::Input wrapper-->
							</div>
							<!--end::Input group-->
							<!--begin::Input group-->
							<div class="row mb-10">
								<!--begin::Col-->
								<div class="col-md-8 fv-row">
									<!--begin::Label-->
									<label class="required fs-6 fw-bold form-label mb-2">Expiration Date</label>
									<!--end::Label-->
									<!--begin::Row-->
									<div class="row fv-row">
										<!--begin::Col-->
										<div class="col-6">
											<select name="card_expiry_month" class="form-select form-select-solid" data-control="select2" data-hide-search="true" data-placeholder="Month">
												<option></option>
												<option value="1">1</option>
												<option value="2">2</option>
												<option value="3">3</option>
												<option value="4">4</option>
												<option value="5">5</option>
												<option value="6">6</option>
												<option value="7">7</option>
												<option value="8">8</option>
												<option value="9">9</option>
												<option value="10">10</option>
												<option value="11">11</option>
												<option value="12">12</option>
											</select>
										</div>
										<!--end::Col-->
										<!--begin::Col-->
										<div class="col-6">
											<select name="card_expiry_year" class="form-select form-select-solid" data-control="select2" data-hide-search="true" data-placeholder="Year">
												<option></option>
												<option value="2021">2021</option>
												<option value="2022">2022</option>
												<option value="2023">2023</option>
												<option value="2024">2024</option>
												<option value="2025">2025</option>
												<option value="2026">2026</option>
												<option value="2027">2027</option>
												<option value="2028">2028</option>
												<option value="2029">2029</option>
												<option value="2030">2030</option>
												<option value="2031">2031</option>
											</select>
										</div>
										<!--end::Col-->
									</div>
									<!--end::Row-->
								</div>
								<!--end::Col-->
								<!--begin::Col-->
								<div class="col-md-4 fv-row">
									<!--begin::Label-->
									<label class="d-flex align-items-center fs-6 fw-bold form-label mb-2">
										<span class="required">CVV</span>
										<i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" title="Enter a card CVV code"></i>
									</label>
									<!--end::Label-->
									<!--begin::Input wrapper-->
									<div class="position-relative">
										<!--begin::Input-->
										<input type="text" class="form-control form-control-solid" minlength="3" maxlength="4" placeholder="CVV" name="card_cvv" />
										<!--end::Input-->
										<!--begin::CVV icon-->
										<div class="position-absolute translate-middle-y top-50 end-0 me-3">
											<!--begin::Svg Icon | path: icons/duotone/Shopping/Credit-card.svg-->
											<span class="svg-icon svg-icon-2hx">
												<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
													<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
														<rect x="0" y="0" width="24" height="24" />
														<rect fill="#000000" opacity="0.3" x="2" y="5" width="20" height="14" rx="2" />
														<rect fill="#000000" x="2" y="8" width="20" height="3" />
														<rect fill="#000000" opacity="0.3" x="16" y="14" width="4" height="2" rx="1" />
													</g>
												</svg>
											</span>
											<!--end::Svg Icon-->
										</div>
										<!--end::CVV icon-->
									</div>
									<!--end::Input wrapper-->
								</div>
								<!--end::Col-->
							</div>
							<!--end::Input group-->
							<!--begin::Input group-->
							<div class="d-flex flex-stack">
								<!--begin::Label-->
								<div class="me-5">
									<label class="fs-6 fw-bold form-label">Save Card for further billing?</label>
									<div class="fs-7 fw-bold text-gray-400">If you need more info, please check budget planning</div>
								</div>
								<!--end::Label-->
								<!--begin::Switch-->
								<label class="form-check form-switch form-check-custom form-check-solid">
									<input class="form-check-input" type="checkbox" value="1" checked="checked" />
									<span class="form-check-label fw-bold text-gray-400">Save Card</span>
								</label>
								<!--end::Switch-->
							</div>
							<!--end::Input group-->
						</div>
					</div>
					<!--end::Step 4-->
					<!--begin::Step 5-->
					<div data-kt-stepper-element="content">
						<div class="w-100 text-center">
							<!--begin::Heading-->
							<h1 class="fw-bolder text-dark mb-3">Release!</h1>
							<!--end::Heading-->
							<!--begin::Description-->
							<div class="text-muted fw-bold fs-3">Submit your app to kickstart your project.</div>
							<!--end::Description-->
							<!--begin::Illustration-->
							<div class="text-center px-4 py-15">
								<img src="~/assets/media/illustrations/todo.png" alt="" class="mw-100 mh-150px" />
							</div>
							<!--end::Illustration-->
						</div>
					</div>
					<!--end::Step 5-->
					<!--begin::Actions-->
					<div class="d-flex flex-stack pt-10">
						<!--begin::Wrapper-->
						<div class="me-2">
							<button type="button" class="btn btn-lg btn-light-primary me-3" data-kt-stepper-action="previous">
								<!--begin::Svg Icon | path: icons/duotone/Navigation/Left-2.svg-->
								<span class="svg-icon svg-icon-3 me-1">
									<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
										<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
											<polygon points="0 0 24 0 24 24 0 24" />
											<rect fill="#000000" opacity="0.3" transform="translate(15.000000, 12.000000) scale(-1, 1) rotate(-90.000000) translate(-15.000000, -12.000000)" x="14" y="7" width="2" height="10" rx="1" />
											<path d="M3.7071045,15.7071045 C3.3165802,16.0976288 2.68341522,16.0976288 2.29289093,15.7071045 C1.90236664,15.3165802 1.90236664,14.6834152 2.29289093,14.2928909 L8.29289093,8.29289093 C8.67146987,7.914312 9.28105631,7.90106637 9.67572234,8.26284357 L15.6757223,13.7628436 C16.0828413,14.136036 16.1103443,14.7686034 15.7371519,15.1757223 C15.3639594,15.5828413 14.7313921,15.6103443 14.3242731,15.2371519 L9.03007346,10.3841355 L3.7071045,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(9.000001, 11.999997) scale(-1, -1) rotate(90.000000) translate(-9.000001, -11.999997)" />
										</g>
									</svg>
								</span>
								<!--end::Svg Icon-->Back
							</button>
						</div>
						<!--end::Wrapper-->
						<!--begin::Wrapper-->
						<div>
							<button type="button" class="btn btn-lg btn-primary" data-kt-stepper-action="submit">
								<span class="indicator-label">
									Submit
									<!--begin::Svg Icon | path: icons/duotone/Navigation/Right-2.svg-->
									<span class="svg-icon svg-icon-3 ms-2 me-0">
										<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
											<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
												<polygon points="0 0 24 0 24 24 0 24" />
												<rect fill="#000000" opacity="0.5" transform="translate(8.500000, 12.000000) rotate(-90.000000) translate(-8.500000, -12.000000)" x="7.5" y="7.5" width="2" height="9" rx="1" />
												<path d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997)" />
											</g>
										</svg>
									</span>
									<!--end::Svg Icon-->
								</span>
								<span class="indicator-progress">
									Please wait...
									<span class="spinner-border spinner-border-sm align-middle ms-2"></span>
								</span>
							</button>
							<button type="button" class="btn btn-lg btn-primary" data-kt-stepper-action="next">
								Continue
								<!--begin::Svg Icon | path: icons/duotone/Navigation/Right-2.svg-->
								<span class="svg-icon svg-icon-3 ms-1 me-0">
									<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
										<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
											<polygon points="0 0 24 0 24 24 0 24" />
											<rect fill="#000000" opacity="0.5" transform="translate(8.500000, 12.000000) rotate(-90.000000) translate(-8.500000, -12.000000)" x="7.5" y="7.5" width="2" height="9" rx="1" />
											<path d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997)" />
										</g>
									</svg>
								</span>
								<!--end::Svg Icon-->
							</button>
						</div>
						<!--end::Wrapper-->
					</div>
					<!--end::Actions-->
				</form>
				<!--end::Form-->
			</div>
			<!--end::Content-->
		</div>
		<!--end::Stepper-->
	</div>
	<!--end::Modal body-->
</div>
