@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@model Publication

<div id="kt_content_container" class="container">
    <!--begin::Row-->
    <div class="row g-5 g-xl-8">
        <!--begin::Col-->
        <div class="col-12">
            <!--begin::Feeds Widget 1-->
            <div class="card mb-5 mb-xl-8">
                <!--begin::Body-->
                <div class="card-body pb-0">
                    <!--begin::Header-->
                    <div class="d-flex align-items-center mb-3">
                        <!--begin::User-->
                        <div class="d-flex align-items-center flex-grow-1">
                            <!--begin::Avatar-->
                            <div class="cursor-pointer symbol symbol-30px symbol-md-40px me-3" data-kt-menu-trigger="click" data-kt-menu-attach="parent" data-kt-menu-placement="bottom-end">
                                <img src="@Model.Person.AvatarUrl" alt="user" />
                            </div>
                            <!--end::Avatar-->
                            <!--begin::Info-->
                            <div class="d-flex flex-column">
                                <a href="#" class="text-gray-800 text-hover-primary fs-6 fw-bolder"> @Model.Person.FirstName @Model.Person.LastName</a>
                                <span class="text-gray-400 fw-bold">@Model.Person.Email</span>
                            </div>
                            <!--end::Info-->
                        </div>
                        <!--end::User-->

                    </div>
                    <!--end::Header-->
                    @using (Html.BeginForm("EditPublication", "MyPublication", FormMethod.Post, new { enctype = "multipart/form-data", id = "editar" }))
                    {
                        @using (Html.DevExtreme().ValidationGroup())
                        {
                            @(Html.DevExtreme().TextBoxFor(x=>x.PublicationID).Visible(false).ReadOnly(true))
                            @(Html.DevExtreme().TextBoxFor(x => x.PublicationDate).Visible(false).ReadOnly(true))
                            <div class="row mb-8">
                                <!--begin::Col-->
                                <div class="col-xl-2 fv-row">
                                    <div class="fs-6 fw-bold mt-2 mb-3">Titulo</div>
                                </div>
                                <!--begin::Col-->
                                <div class="col-xl-10">
                                    @(Html.DevExtreme().TextBoxFor(x => x.Qualification))
                                </div>


                                <!--end::Col-->
                            </div>

                            <div class="row mb-8">
                                <!--begin::Col-->
                                <div class="col-xl-2 fv-row">
                                    <div class="fs-6 fw-bold mt-2 mb-3">Precio estimado</div>
                                </div>
                                <!--begin::Col-->
                                <div class="col-xl-10">
                                    @(Html.DevExtreme().TextBoxFor(x => x.EstimatedPrice).ReadOnly(false))
                                </div>
                                <!--end::Col-->
                            </div>

                            <div class="row mb-8">
                                <!--begin::Col-->
                                <div class="col-xl-2 fv-row">
                                    <div class="fs-6 fw-bold mt-2 mb-3">Descripcion del producto</div>
                                </div>
                                <!--begin::Col-->
                                <div class="col-xl-10">
                                    @(Html.DevExtreme().TextBoxFor(x => x.ProductDescription))
                                </div>
                                <!--end::Col-->
                            </div>

                            <div class="row mb-8">
                                <!--begin::Col-->
                                <div class="col-xl-2 fv-row">
                                    <div class="fs-6 fw-bold mt-2 mb-3">Descripción</div>
                                </div>
                                <!--begin::Col-->
                                <div class="col-xl-10">
                                    @(Html.DevExtreme().TextBoxFor(x => x.Content))
                                </div>
                                <!--end::Col-->
                            </div>

                            <div class="row mb-8">
                                <!--begin::Col-->
                                <div class="col-xl-2 fv-row">
                                    <div class="fs-6 fw-bold mt-2 mb-3">Tipo de Publicación</div>
                                </div>
                                <!--begin::Col-->
                                <div class="col-xl-10">

                                    @(Html.DevExtreme().SelectBoxFor(m => m.PublicationType)
                                        .DataSource(Html.GetEnumSelectList<CundecinosWeb.Enum.PublicationType>()
                                        .Select(i => new { Value = int.Parse(i.Value), Text = i.Text })
                                        )
                                        .ValueExpr("Value")
                                        .ID("PublicationType")
                                        .DisplayExpr("Text")
                                        .Placeholder("Seleccione...")
                                        )

                                </div>
                                <!--end::Col-->
                            </div>

                            @(Html.DevExtreme().TextBoxFor(x => x.PersonID).Visible(false))

                            @(Html.DevExtreme().FileUploader()
                                .ID("fileUploader")
                                .Accept("image/*")
                                .UploadMode(FileUploadMode.Instantly)
                                .Name("files")
                                .Multiple(true)
                                )

                            <!--begin::Input group-->
                            <div class="row mb-6">
                                <!--begin::Col-->
                                <div class="col-lg-8">

                                    @foreach (var imageUrl in Model.PublicationAttachment)
                                    {
                                        <!--begin::Image input-->
                                        <div class="image-input image-input-outline" data-kt-image-input="true" style="background-image: url(assets/media/avatars/blank.png)">
                                            <!--begin::Preview existing avatar-->
                                            <div class="image-input-wrapper w-125px h-125px" style="background-image: url(@imageUrl.ImageScreen)"></div>
                                            <!--end::Preview existing avatar-->
                                            <!--begin::Label-->
                                            <a class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="change" data-bs-toggle="tooltip" title="Change avatar" asp-controller="MyPublication" asp-action="DeleteImage" asp-route-id="@imageUrl.PublicationAttachmentID" asp-route-publication="@Model.PublicationID">
                                                <i class="bi bi-x fs-2"></i>
                                            </a>
                                            <!--end::Label-->
                                        </div>
                                        <!--end::Image input-->
                                    }
                                </div>
                                <!--end::Col-->
                            </div>
                            <!--end::Input group-->

                            <br /> <div class="separator"></div>
                            <br />

                            <!--begin::Timeline details-->
                            <div class="overflow-auto pb-5">
                                <!--begin::Notice-->
                                <div class="notice d-flex bg-light-primary rounded border-primary border border-dashed min-w-lg-600px flex-shrink-0 p-6">

                                    <!--begin::Wrapper-->
                                    <div class="d-flex flex-stack flex-grow-1 flex-wrap flex-md-nowrap">
                                        <!--begin::Content-->
                                        <div class="mb-3 mb-md-0 fw-bold" id="message">
                                            <h4 class="text-gray-800 fw-bolder">Revisa el precio estimado para continuar!</h4>
                                            <div class="fs-6 text-gray-600 pe-7" id="precio"></div>


                                            <br />

                                        </div>

                                        <!--end::Content-->
                                    </div>
                                    <!--end::Wrapper-->
                                </div>
                                <!--end::Notice-->
                            </div>
                            <!--end::Timeline details-->


                            <div class="row mb-8">
                                <!--begin::Col-->
                                <div class="col-xl-10 fv-row">
                                    <input type="text" class="form-control form-control-solid" id="description" name="description" />
                                </div>
                                <!--begin::Col-->
                                <div class="col-xl-2" style="text-align: center;">
                                    <button class="btn btn-lg btn-primary boton-precio" type="button" onclick="buscarPrecio()"> Buscar precio.</button>
                                </div>
                                <!--end::Col-->
                            </div>
                            <div class="row mb-8">
                                @(Html.DevExtreme().Button()
                                    .ID("Publication")
                                    .Text("Editar")
                                    .Type(ButtonType.Success)
                                    // Instructs the Button to validate the TextBoxes and submit the form
                                    .UseSubmitBehavior(true)
                                    .ElementAttr("class", "btn btn-primary align-self-center p-1")
                                    )
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>