@model CundecinosWeb.Models.Message

<!--begin::Post-->
<div class="post d-flex flex-column-fluid" id="kt_post">
    <!--begin::Container-->
    <div id="kt_content_container" class="container">
        <!--begin::Layout-->
        <div class="d-flex flex-column flex-lg-row">
            <!--begin::Content-->
            <div class="flex-lg-row-fluid ms-lg-7 ms-xl-10">
                <!--begin::Messenger-->
                <div class="card" id="kt_chat_messenger">
                    <!--begin::Card header-->
                    <div class="card-header" id="kt_chat_messenger_header">
                        <!--begin::Title-->
                        <div class="card-title">
                            <div class="d-flex justify-content-center flex-column me-3">
                                <span class="fs-4 fw-bolder text-gray-900 text-hover-primary me-1 mb-2 lh-1">@Model.Addressee.FirstName @Model.Addressee.LastName</span>
                            </div>
                        </div>
                        <!--end::Title-->
                    </div>
                    <!--end::Card header-->
                    <input type="hidden" value="@Model.Addressee.UID" id="addressedId"/>
                    <input type="hidden" value="@Model.Addressee.AvatarUrl" id="avatar" />
                    <input type="hidden" value="@Model.Sender.AvatarUrl" id="avatarSender" />
                    <input type="hidden" value="@Model.Addressee.FirstName @Model.Addressee.LastName" id="name" />
                    <!--begin::Card body-->
                    <div class="card-body" id="kt_chat_messenger_body">
                        <!--begin::Messages-->
                        <div class="scroll-y me-n5 pe-5 h-300px h-lg-auto" id="messagesDiv" data-kt-element="messages" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-max-height="auto" data-kt-scroll-dependencies="#kt_header, #kt_toolbar, #kt_footer, #kt_chat_messenger_header, #kt_chat_messenger_footer" data-kt-scroll-wrappers="#kt_content, #kt_chat_messenger_body" data-kt-scroll-offset="-2px">
                            @foreach (var messages in ViewBag.Messages)
                            {
                                @if (messages.SenderID != ViewBag.UserId)
                                {
                                    <!--begin::Message(in)-->
                                    <div class="d-flex justify-content-start mb-10">
                                        <!--begin::Wrapper-->
                                        <div class="d-flex flex-column align-items-start">
                                            <!--begin::User-->
                                            <div class="d-flex align-items-center mb-2">
                                                <!--begin::Avatar-->
                                                <div class="symbol symbol-35px symbol-circle">
                                                    <img alt="Pic" src="@Model.Addressee.AvatarUrl" />
                                                </div>
                                                <!--end::Avatar-->
                                                <!--begin::Details-->
                                                <div class="ms-3">
                                                    <a href="#" class="fs-5 fw-bolder text-gray-900 text-hover-primary me-1">@Model.Addressee.FirstName @Model.Addressee.LastName</a>

                                                </div>
                                                <!--end::Details-->
                                            </div>
                                            <!--end::User-->
                                            <!--begin::Text-->
                                            <div class="p-5 rounded bg-light-info text-dark fw-bold mw-lg-400px text-start" data-kt-element="message-text">@messages.Text</div>
                                            <!--end::Text-->
                                        </div>
                                        <!--end::Wrapper-->
                                    </div>
                                    <!--end::Message(in)-->
                                }
                                else
                                {
                                    <!--begin::Message(out)-->
                                    <div class="d-flex justify-content-end mb-10">
                                        <!--begin::Wrapper-->
                                        <div class="d-flex flex-column align-items-end">
                                            <!--begin::User-->
                                            <div class="d-flex align-items-center mb-2">
                                                <!--begin::Details-->
                                                <div class="me-3">
                                                    <a href="#" class="fs-5 fw-bolder text-gray-900 text-hover-primary ms-1">Tú</a>
                                                </div>
                                                <!--end::Details-->
                                                <!--begin::Avatar-->
                                                <div class="symbol symbol-35px symbol-circle">
                                                    <img alt="Pic" src="@Model.Sender.AvatarUrl"/>
                                                </div>
                                                <!--end::Avatar-->
                                            </div>
                                            <!--end::User-->
                                            <!--begin::Text-->
                                            <div class="p-5 rounded bg-light-primary text-dark fw-bold mw-lg-400px text-end" data-kt-element="message-text">@messages.Text</div>
                                            <!--end::Text-->

                                        </div>
                                        <!--end::Wrapper-->
                                    </div>
                                    <!--end::Message(out)-->
                                }
                            }
                        </div>
                        <!--end::Messages-->
                        <div id="messagesDiv"></div>
                    </div>
                    <!--end::Card body-->
                    <!--begin::Card footer-->
                    <div class="card-footer pt-4" id="kt_chat_messenger_footer">
                        <form asp-controller="Chat" method="post" asp-action="SaveMessage">
                            <div class="col-5">
                                <input type="hidden" id="senderID" value="@Model.Sender.UID" name="Sender.UID" asp-for="Sender.UID" />

                                <input type="hidden" id="userInput" value="@Model.Addressee.UID" name="Addressee.UID" asp-for="Addressee.UID" />

                            </div>
                            <!--begin::Input-->
                            @*<textarea class="form-control form-control-flush mb-3" rows="1" id="messageInput" data-kt-element="input" name="Text" asp-for="Text" placeholder="Mensaje"></textarea>*@
                            <input type="text" id="textMessage" name="Text" asp-for="Text" class="form-control form-control-flush mb-3 b-1" data-kt-element="input" placeholder="Mensaje"/>
                            <!--end::Input-->
                            <!--begin:Toolbar-->
                            <div class="d-flex flex-stack">
                                <!--begin::Send-->
                                <button class="btn btn-primary" type="submit" id="sendButton" data-userId="@ViewBag.UserId">Enviar</button>
                                <!--end::Send-->
                            </div>
                            <!--end::Toolbar-->
                        </form>

                    </div>
                    <!--end::Card footer-->
                </div>
                <!--end::Messenger-->
            </div>
            <!--end::Content-->
        </div>
        <!--end::Layout-->
    </div>
    <!--end::Container-->
</div>
<!--end::Post-->

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#boton02").click(function () {

            $("#userInput").val($("#OrigeID").val());
            $("#messageInput").val("")

        });
        var messagesDiv = $("#messagesDiv");
        messagesDiv.scrollTop(messagesDiv.prop("scrollHeight"));
    });

    $(document).ready(function () {
        $("#sendButton").click(function () {

            $("#messageInput").val("")
        });
    });


</script>



